*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #f1c42f,#fa6e47);
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.header-container{
    margin-top: 5vh;
    font-size: 1.4rem;
}
.header-container i{
    padding-left: 0.7vw;
    padding-top: 0.2vw;
    font-size: 2rem;
    border: none;    
}

header,form{
    min-height: 20vh;
    min-width: 40vw;
    align-items: center;
    justify-content: center;
    display: flex;
}

form input,form button{
    outline: none !important;
    padding: 0.6vw;
    font-size: 1.6vw;
    border: none;
    background:white;
    min-width: 4vw;
    min-height: 4vh;
}

form input[type=text]{
    min-width: 30%;

    color: rgb(82, 80, 80);
    transition: all 0.5s ease;

}

form button{
    min-height: 4vh;
    min-width: 3.5vw;
    font-size: 1.6vw;
    color: #f3b461 ;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #f8a100 ;
    color: white;   
}

form button:focus{
    cursor: pointer;
    border-radius: 0px;
}

form button:active{
    transform: scale(0.75);
}

/* .todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .todo-container{
} */

.list-item{
    box-sizing: initial;
    margin: 1rem 0rem;
}

.todo-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    min-height: 40%;
    min-width: 40%;
    list-style: none;
    transition:  all 1s ease;
}



.todo-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todo{
    min-width: 2vw;
    margin: 2vh 3vw;
    background:white;
    color: black;
    font-size: 2vh;
    font-weight: 800;
    display: flex;
    word-wrap: break-word;
    justify-content: space-between;
    align-items: center;
    border:none;
    transition: all 0.5s ease;
}


.todo-button{
    margin: 0px 0px 0px 1vw;
}


.todo-input-empty{
    box-shadow: 0 0 5px 1px #ff0000 !important;
}

.todo li{
    flex: 1;
}


.todo-item{
    padding: 0rem 0.5rem;
    color: #6b6b6b;
}

.checked-button,.trash-button,.add-button{
    background: #ff6f47;
    color: #fff;
    border: none;
    padding: 1.5vh 0.8vw;
    cursor: pointer;
    font-size: 1.6vw;
    outline: none !important;
    transition: all 0.3s ease;
}

.trash-button:active{
    transform: scale(0.75);
    color: #ff6f47;
    background: #fff;
}

.trash-button:hover{
    color: #ff6f47;
    background: #fff;
}

.checked-button{
    background: #a7db5a;
}

.checked-button:hover{
    color: #b7f856;
    background: #223603;
}

.checked-button:active{
    transform: scale(0.75);
    background: white;
    color: #a7db5a;
}

.add-button{
    background: #f8a100;
}


.add-button:hover{
    color: #f8a100 ;
    background: white;   
}

.add-button:active{
    transform: scale(0.75);
    background: white;
    color: #f8a100;
}

.dropdown-button{
    outline: none;
    border: none;
    padding: 0.9vh 0.7vw;
    cursor: pointer;
    font-size: 2.1em;
    color: #fff;
    background: #09edf5ce;
    transition: all 0.3s ease;
    
}

.dropdown-button:hover{
    background: #098bf5;
    color: #09edf5ce;
    transition: all 0.3s ease;
}

.dropdown-button:active{
    background: #fff;
    color: #09edf5be;
    transform: scale(0.9);
}

.dropdown-button-rotate-up{
    transition: all 0.4s ease;
    transform: rotate(180deg) ;
}

.dropdown-button-rotate-down{
    transition: all 0.4s ease;
    transform: rotate(0deg);
}

.fa-trash,.fa-check-square,
.fa-plus-square,.fa-calendar-alt,
.fa-caret-down{
    pointer-events: none;
}

.todo-sub{
    position: relative;
    display: flex;
    word-wrap: break-word;
    box-sizing: initial;
    width: 100%;
    margin: 0vw 3vw;
    transition: all 0.5s ease;
}

.todo-sub-item{
    margin: 0.5vh 0px 0.5vh 0.3vw;
    padding-top: 0vh;
    padding-left: 1vw;
    padding-bottom: 2vh;
    background: #fff ;/* linear-gradient(90deg,rgb(66, 65, 65),#aaa); */
    color: #555;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:none;
    min-width: 60%;
    transition: all 0.3s ease;
}


.todo-sub p{
    line-height: 2vh;
}

/* .todo-sub img{
    border: none;
    justify-content: center;
    align-items: center;
    margin-top: 0.9rem;
    padding-left: 5px;
    height: 1.4rem;
    width: 1.5rem;
    color: #eee;
} */


.sub-checked-button,.sub-trash-button{
    background: #ff6f47;
    color: #fff;
    border: none;
    height: 5.9vh;
    width: 1vw;
    margin: 0.5vh 0.2px 0px 0.2px ;
    padding: 2vh 1.8rem 2vh 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    outline: none !important;
    transition: all 0.3s ease;

}

.sub-trash-button:hover{
    color: #ff6f47;
    background: #fff;
}
.sub-trash-button:active{
    transform: scale(0.75);
    color: #ff6f47;
    background: #fff;
}

.sub-checked-button{
    background: #a7db5a;
}

.sub-todo-delete{
    opacity: 0;
}

.sub-checked-button:hover{
    color: #b7f856;
    background: #223603;
}

.sub-checked-button:active{
    transform: scale(0.75);
    color: #b7f856;
    background: #223603;
}

.completed{
    text-decoration: line-through;
    color: #333;
    opacity: 0.5;
}

.completed button{
    color: #bbb;
    background: #5f5f5f;
    opacity: 0.5;
}
.completed .trash-button{
    background: #df775a;
    color: #fff;
    opacity: 1;
}
.completed .sub-trash-button{
    background: #df775a;
    color: #fff;
    opacity: 1;
}

#datepicker{
    padding-left: 1rem;
    padding-right: 0rem;
    margin: 0px 0rem 0px 1rem;
}


select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:  none;
    outline: none;
    border: none;
}

.select{
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.select-filter{
    
    min-height: 4vh;
    min-width: 4vw;
    margin: 0rem 0vw 0rem 1vw;
    padding: 1vh 2vw 1vh 1vw;
    cursor: pointer;
    font-size: 1.5vw;
    color: #f1c42fdc;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.select-filter-shadow{
    box-shadow: 0 0 4px 2px #555;
}

.select::after{
    content: "\25BC";
    min-height: 0vh;
    min-width: 0vw;
    margin: 0vw 0vw;
    padding: 0.9vh 0.2vw 0.9vh 0.2vw ;

    font-size: 1.5vw;
    color: #f1c42f;
    background: #fff;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: #f1c42f;
    color: #fff;
}

.select-button{
    pointer-events: none;
    transition: all 0.3s ease;
}
.select-button-up{
    transform: rotate(180deg);
}
.select-button-down{
    transform: rotate(0deg);
}

.logo-container{
    background-image: linear-gradient(-135deg,#000 50%,#F78341 50%);
    position: absolute;
    right: 0%;
    top: 0%;
    padding: 3rem;
    box-sizing: border-box;
    display: flex;
    transition: all 0.3s ease;
}
.git-logo{
    margin: 0;
    padding: 0;
    transform: rotate(49deg);
    position: absolute;
    top: 15px;
}

.fa-github{
    font-size: 2rem;
    color: #fff;
}

  /* -------                    ------*/
 /* -------      Media Query   ------*/
/* -------   for tabs/ipads   ------*/


@media all and (max-width:1024px){
    .dropdown-button{
       padding: 0.4vh 0.2vw ;
       font-size: 4vw;
    }
    
    .bl-dialog{
        transform: scale(0.78);
    }

    .logo-container{
        background-image: linear-gradient(-135deg,#000 50%,#F6943F 50%);
    }

    .fa-github{
        font-size: 2rem;
        color: #fff;
    }
}


  /* -------               -------*/
 /* -------  Media Query  -------*/
/* -------   for Phones -------*/

@media all and (max-width:600px){

    /*Removes xtra white space in the right side*/
     *:not(.bl-box,.bl-dialog,.bl-header,.bl-content,.bl-footer){
        max-width: 100% ;
    } 

    .form-container{
        display: flex;
        max-width: 90%;
        justify-content: center;
        margin: 0px 0px 0px 20px ;
        /* padding-left: 2rem; */
    }

    /* form input:not(#datepicker){
        border-radius: 3px;
    } */


    header h1,i{
        position: relative; 
        right: 4%;
    }
    
    .header-container {
        margin: 1vh;
        font-size: 1rem;
        
    }
    .header-container i{
        font-size: 1.5rem;
        margin: 0.8rem 0.5rem;
    }
    /* form{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr  minmax(50px,auto);
        grid-row-gap: 0px;
        margin: 1rem;
        padding: 0rem;
        height: 0.5rem ;
        position: relative;
    } */

    form{
        align-items: center;
        display: grid;
        grid-template-columns:  minmax(50px,auto) minmax(80px,auto);
        grid-row-gap: 0px;
        grid-column-gap: 5px;
        max-width: 100%;
        /* margin:0px 0px 0px 25px ; */
        /* margin-left: 3rem;
        padding: 1rem; */
        /* height: 0.5rem ; */
        /* position: relative; */
    }

    .calander-container{
        display: flex;
        max-width: 90%;
    }

    form input[type='text']{
        font-size: 0.8rem;
        font-weight: 500;        
        color: #333;
    }

   

    .todo-container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .todo-input{
        padding: 1vh 2vw;
        font-size: 5vh; 
    }

    form button.todo-button{
        padding: 0;
        margin: 0;
    }

    .todo-button{
        width: 45vw;
        height: 3vh;
        padding: 1.5rem;
        box-sizing: border-box;
        border-radius: 3pc !important;
        
    }

    .todo-button i{
        padding: 1px 0px;
        font-size: 4vh;
    }

    .todo-calendar{
        grid-column-end: span 1;
        padding-right: 18px;
    }

    form button{
        width: 1rem;
    }

    .todo-calendar{
        box-sizing: border-box;
    }

    .todo-calendar i{
        font-size: 2vh;
        padding: 0px 50px 0px 0px;
    }

    .select{
        display: flex;
        margin: 0vw 0vw 0vw 4vw;
    }
    
    .select-filter{
        background: #fff;
        width: 30vw;
        font-size: 0.75rem;
    }

    .select::after{
        height: 2.5vh;
        width: 16px;
        align-content: center;
        padding: 6px 5px ;
        font-size: 15px;
    }
/* 
    .todo-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */

    .todo-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem ;
    }
    
    .todo-list{
        display: flex;
        justify-content: center;
        width: 95%;
        box-sizing: initial;
    }

    .list-item{
        display: flex;
        box-sizing: initial;
        flex-direction: column;
        justify-content: center;
        background: #f2f3f4 ;
        border-radius: 5px;
        width: 95%;
        padding: 5px;
        /* box-shadow: 2px 4px 1px  #888; */
    }

    .todo-main{
        margin: 20px 25px 5px 10px;
        box-sizing: initial;
        transition: all 1s ease;
    }

    .todo{
        word-wrap: break-word;
        box-sizing: initial;
        margin: 0;
        padding: 8px;
        border-radius: 5px;
        width: 100%;
        background:  #fd8c4b;
        box-shadow: 0px 2px 2px #8a8a8a;
    }

    .todo p{
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
    }

    .sub-todo-list{
        display: flex;
        flex-direction: column;
        box-sizing: initial;
        justify-content: center;
    }

    /* .sublist-item{
        list-style: none;
        width: 70%;
        border-radius: 5px;
        background: #bc9faf;
        box-sizing: initial;
        justify-content: space-between;
        padding: 5px;
        margin: 1vh 2.5rem;
    } */

    .todo-item{
        font-size: 2vw;
    }

    .dropdown-button{
        padding: 10px 9px ;
        font-size: 15px;
    }

    .button-container-div-main{
        /* display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }

    .button-container-div-main button{
        margin: 0px 2px;
        border-radius: 3px;
        box-sizing: initial;
        padding: 5px;
    }

    .button-container-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .button-container-div button{
        margin: 0px 2px;
        border-radius: 3px;
        box-sizing: initial;
        padding: 0px;
    }

    .checked-button,.trash-button,.add-button{
        font-size: 15px;
        margin: 0px;
        padding: 10px ;
    }
    
    .add-button{
        background-color: #f5c321;
    }

    .trash-button{
        background-color:#f83707;
    }

    .bl-dialog{
        transform: scale(0.50);
    }

    .todo-sub{
        list-style: none;
        width: 70%;
        border-radius: 5px;
        background: #FFB538;
        box-sizing: initial;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        margin: 1vh 2.5rem 2vh 2.5rem;
    }

    .todo-sub img{
        position: relative;
        margin-top: 15px;
        margin-right: 3px;
        height: 13px;
        width: 20px;
    }

    .bl-empty{
        box-shadow: 0px 0px 5px 2px #db1414 !important;
    }

    /* .todo-sub li{
        margin: 10px 0px;
        padding: 5px;
        height: 25px;
        width: 10px;
        position: relative;
    } */

    .todo-sub p{
        font-size: 4vw;
        font-weight: 500;
        color: #333;
    }

    .todo-sub p>br{
        display: none;
    }

    .todo-sub-item{
        background: none;
    }

    .todo-sub-item{
        font-size: 4vw;
        padding: 1vh 2vw;
    }

    .sub-checked-button,.sub-trash-button{
        height: 25px;
        width: 25px;
        font-size: 15px;
        margin: 10px 0px;
        padding: 0px 5px;
    }

    .logo-container{
       padding: 1.5rem;
        background-image: linear-gradient(-135deg,#000 50%,#F3B035 50%);
    }

    .git-logo{
        transform: rotate(51deg);
        position: absolute;
        top: 8px;
    } 

    .fa-github{
        font-size: 1rem;
        color: #fff;
    }

    

}

/* footer{
    background-color: #333 !important;
    color: #fff;
} */

